.menu-home{
    background: rgba(71, 134, 243, 0.954);
    height: 100%;
  }
  .aside{
    background-image: radial-gradient(circle at 29.18% 70.82%, #acb5ef 0, #229ef6 50%, #fcfdfd 100%);
    flex: 20%;
    padding: 20px;
    min-height: 90dvh;
    color: rgb(182, 216, 247);
    font-size: 1.5rem;

}
.container-card{
    display: grid;
    grid-template-columns: 23% 75%;
    grid-gap:10px;
    padding: 4px;
    border-radius: 0.5rem;
    height: auto;



}
.card-image{
    width: 450px;
    height: 300px;
   text-align: center;
}
.text-align-center{
    text-align: center;
}
.img-layout{
    width: 450px;
    height: 320px;
    border-radius: 1em;


}
